<p4>Hello there!</p4>
<p>You have been invited to join Semco Maritime's resource management system. Please click the button below to accept the invite.</p>
<br>
<a href="{{ url }}"><button>Accept Invite</button></a>
<br>
<p>If you did not request this email you can safely ignore it.</p>
